/* Set ALL HTML elements with border-box sizing */ {
  box-sizing: border-box;
}

html, body {
 margin: 0;
}

h1 {
font-size: 30px;   
}

h3 {
font-size: 20px;  
}

/* I set all text elements to the same font color here, I wanted certain sections to have different font sizes than others so I put that in other sections of the code */
h1, h2, h3, p, ul, ol, footer {
color: #572D26;
}

div p, div ul, div ol {
font-family: helvetica;
font-size: 14px; 
}

/* I wanted to have my header fill the screen and be a different color than my background */
header  {
width: 100%;
margin: 0;
background-color: #FF8C8C;
padding: 10px 0 10px 10px;
}

/* Same with my footer, I wanted it to be a different color but slightly smaller than my header */
footer  {
width: 100%;
display: block;
margin-left: auto;
margin-right: auto; 
background-color: #FF8C8C;
padding: 10px 0 10px 10px;
text-align: center;
font-size: 10px;
}

body {
background-color: #FC6835;
margin-top: -10px;
margin-bottom: -40px;
}

hr {
border: 7px dotted #FFEAB3;  
border-bottom: 0px;
align-content: center;
width: 600px;
}

img {
width: 50px;  
}

/* I used this to make sure only my section headings were set to uppercase */
.section-header {
font-family: futura; 
text-align: center;
text-transform: uppercase;
}

.wrapper {
 width: 600px;
 margin: auto; 
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* It took me a little while to set my contact icons to the center of the page. I ended up figuring it out by using display flex */
.contact-icon {
display: flex;
justify-content: center;
padding-bottom: 30px;
}

/*psuedo-classes for link */
a:hover{
color: white;
}

a:visited{
color: black;
}